Hatoca_inlamning/CSharpWebService/Web References/WebServiceReference/CSharpWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hatoca.lu.se" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hatoca.lu.se" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hatoca.lu.se">
      <s:element name="GetFileContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileContent" />
  </wsdl:message>
  <wsdl:message name="GetFileContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileContentResponse" />
  </wsdl:message>
  <wsdl:portType name="CSharpWebServiceSoap">
    <wsdl:operation name="GetFileContent">
      <wsdl:input message="tns:GetFileContentSoapIn" />
      <wsdl:output message="tns:GetFileContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CSharpWebServiceSoap" type="tns:CSharpWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileContent">
      <soap:operation soapAction="http://hatoca.lu.se/GetFileContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CSharpWebServiceSoap12" type="tns:CSharpWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileContent">
      <soap12:operation soapAction="http://hatoca.lu.se/GetFileContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSharpWebService">
    <wsdl:port name="CSharpWebServiceSoap" binding="tns:CSharpWebServiceSoap">
      <soap:address location="http://localhost:57046/CSharpWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CSharpWebServiceSoap12" binding="tns:CSharpWebServiceSoap12">
      <soap12:address location="http://localhost:57046/CSharpWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>